.content {
    width: 800px;
    margin: 30px 0px 30px 0px;
}

.activitybox {
    height: 100px;
    width: 100px;
    border: 3px solid #0b0095;
    border-radius: 3px;
    padding: 3px, 3px, 3px, 3px;
    text-align: center;
}

.lessonbox {
    width: 795px;
    border: 3px solid #0b0095;
    border-radius: 3px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.embed {
    /*height: 450px;*/
    margin: 30px;
    vertical-align: middle;
}

.instrucciones {
    color: dimgray;
    text-align: center;
    font-size: 20px;
}

